*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed';
}

a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

section {
    position: relative;
    width: 100%;
}

h1 {
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}

h5 {
    font-size: 1vw;
}

h6 {
    font-size: 0.5vw;
}

main {
    cursor: none;
}

/*fling-minislide*/
.fling-minislide {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.fling-minislide .slide {
    position: absolute;
    animation: fling-minislide 15s infinite;
    opacity: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
@keyframes fling-minislide {
    33.33% {opacity: 1;}
    55% {opacity: 0;}
}
.fling-minislide .slide:nth-child(3) {animation-delay: 0s;}
.fling-minislide .slide:nth-child(2) {animation-delay: 5s;}
.fling-minislide .slide:nth-child(1) {animation-delay: 10s;}

.bg-img {
    height: 50vw;
    width: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.flex {
    display: flex;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.year {
    font-size: 500%;
    font-weight: 900;
    line-height: 72px;
}

.company {
    font-size: 300%;
    font-weight: 600;
    line-height: .6;
    text-transform: uppercase;
    padding-top: 20px;
}

.role {
    font-size: 2vw;
    font-weight: 100;
    text-transform: capitalize;
}

.circle {
    border: 0.5vw solid navy;
    border-radius: 50%;
    background-color: #fff;
    width: 4vw;
    height: 4vw;
    margin-top: 1vw;
}

#work h1 {
    width: 20%;
    text-align: end;
    color: navy;
}

#work h2 {
    padding-top: 2vw;
    width: 70%;
    line-height: .6;
    color: navy;
}

.vertical-line {
    background-color: navy;
    width: 0.5vw;
    height: 100%;
}

#self-info, #family-members {
    width: 50%;
    position: relative;
}

img {
    width: 100%;
}

.caption {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.caption h1, .caption h2, .caption h3, .caption h4, .caption h5 {
    color: azure;
}

#about .caption {
    background-color: navy;
    bottom: 0;
    opacity: 0.4;
    padding: 15px;
    width: 100%;
    height: 20vw;
}

.normal {
    color: azure;
    text-transform: capitalize;
}

.bg-blue {
    color: azure;
    background-color: navy;
    padding: 0 15px;
    opacity: .6;
}

footer {
    background-color: navy;
}

footer * {
    color: azure;
}

#contact {
    padding: 50px 0;
}

.hover {
    display: block;
    text-align: center;
    margin-top: 15px;
    opacity: 0;
}

#contact a:hover .hover {
    opacity: .9;
}

#contact a:hover i {
    color: #fff;
}

#contact a {
    text-align: center;
}

#contact a i {
    color: azure;
    font-size: 5vw;
}

#copyright {
    text-align: center;
    padding: 15px 0;
}

header {
    background: navy;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 15px 0;
}

nav {
    justify-content: space-between;
}

nav a {
    color: azure;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 40px;
}

nav a:hover{
    color: navy;
    background-color: azure;
}

.logo {
    font-size: 40px;
}

.logo:hover {
    background-color: navy;
    padding-left: 15px;
    color: azure;
}

.bars {
    border-radius: 25%;
    padding: 5px;
    line-height: 30px;
    
}

#intro {
    overflow: hidden;
}

@media (max-width:1250px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width:800px) {
    nav ul {
        position: absolute;
        right: 10px;
        top: 40px;
        display: none;
    }
    nav ul li a {
        display: block;
        width: 100%;
        background-color: navy;
        opacity: .8;
        padding: 0 15px;
    }
    nav ul li {
        list-style-type: none;
    }
    .bars:hover ul {
        display: block;
    }
    h5 {
        font-size: 14px;
    }
    .flex-nowrap {
        flex-wrap: wrap;
    }
    footer .flex {
        display: block
    }
    #contact {
        padding: 15px 0;
    }
    #contact a {
        text-align: left;
        margin: auto;
        width: 50vw;
        align-items: center
    }
    #contact a * {
        display: inline-block;
        padding-right: 15px;
    }
    #copyright {
        padding: 5px 0;
    }
}

@media (min-width:800px) {
    .bars {
        display: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-left: 30px;
    }
}